.logOrSign{
    float: left;
    width: 30%;
    background-color: gray;
    border: 30px solid black;
    border-color: white;
    align-items: center;
}

.footer-flexContainer {
    display: flex; /* Make flex layout context */
    justify-content: space-between; /* Distribution of space w.r.t. elements */
    font-size:14pt;
    color:white;
    background-color: rgb(55, 55, 55);
}

/* To overwrite the mail address color turning purple */
.footer-flexItem { color:white }
